body {
  display: grid;
  grid-template-columns: 100%;
  background: #EEEEEE;
  font-family: Segoe UI;
  margin: 0;
  padding-bottom: 1em;
}

::-webkit-scrollbar {
  width: 3px;
  opacity: 0.2;
}

::-webkit-scrollbar-thumb {
  background: #FC5E1B;
  border-radius: 6px;
  margin-right: .5px;
}

.newRecordContainer {
  display: grid;
  grid-template-columns: 100%;
  background: #EEEEEE;
  height: 100%;
}

.newRecordContainer #patientName {
  background: white;
  top: 0px;
  position: sticky;
  padding-left: 1em;
}

.newRecordContainer .sectionTitle {
  height: auto;
  background-color: #FC5E1B;
  margin: 1px;
  padding: 0;
  position: sticky;
  top: 73px;
}

.newRecordContainer .sectionTitle .sectionTitlePadding {
  padding: .5em 1em .5em 1em;
  margin: 0;
}

.newRecordContainer .sectionTitle .sectionTitlePadding h5 {
  font-size: 13px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.newRecordContainer .newRecordDiv {
  width: 70%;
  background: white;
  margin: 1em auto;
  padding: 1em;
  align-self: center;
  border: none;
}

.newRecordContainer .newRecordDiv #formContainer {
  width: 100%;
}

.newRecordContainer .newRecordDiv #formContainer #newRecordform {
  margin: 0 auto;
}

.newRecordContainer .newRecordDiv #formContainer #newRecordform .inputLabel {
  display: block;
  padding: .2em .2em .5em .2em;
  font-weight: bold;
}

.newRecordContainer .newRecordDiv #formContainer #newRecordform .recordInputActive {
  display: block;
  margin-bottom: 2em;
  margin-top: .2em;
  outline: none;
  border: 1px solid;
  border-color: #B1B1B1;
  border-radius: 25px;
  padding: 1em;
}

.newRecordContainer .newRecordDiv #formContainer #newRecordform input.recordInputActive {
  width: 20%;
}

.newRecordContainer .newRecordDiv #formContainer #newRecordform select.recordInputActive {
  width: 22%;
}

.newRecordContainer .newRecordDiv #formContainer #newRecordform .recordInputStaged {
  display: block;
  margin-bottom: .5em;
  margin-top: .2em;
  outline: none;
  background: white;
  border: none;
  padding: 1em;
}

.newRecordContainer .newRecordDiv #formContainer #newRecordform p {
  margin: 0;
  padding: 1em;
}

.newRecordContainer .newRecordDiv #formContainer #newRecordform textarea {
  width: 60%;
  height: 100px;
  resize: none;
}

.newRecordContainer .newRecordDiv #formContainer #previewPopup {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 106.5px;
  height: 80%;
  width: 99.75%;
  left: 0px;
  border: 2px solid;
  border-color: white;
  border-top: none;
  text-align: center;
  padding-top: 10%;
}

.newRecordContainer .newRecordDiv #formContainer #previewPopup .popUpContent {
  background: white;
  width: 30%;
  margin: auto auto;
  padding: 2em;
}

.newRecordContainer .newRecordButton {
  cursor: pointer;
  color: #FC5E1B;
  background: white;
  border-radius: 25px;
  border: 1px solid;
  border-color: #FC5E1B;
  padding: .5em .9em .5em .7em;
  outline: none;
  margin-right: 1em;
  margin-top: .5em;
}

.newRecordContainer .newRecordButton:hover {
  cursor: pointer;
  color: white;
  background: #FC5E1B;
  border-radius: 25px;
  border: 1px solid;
  padding: .5em .9em .5em .7em;
  outline: none;
  margin-right: 1em;
  margin-top: .5em;
}

.newRecordContainer #pushSucessful {
  display: none;
  grid-template-columns: 100%;
  border: none;
}

.newRecordContainer #pushSucessful i {
  margin: 0 auto;
  font-size: 175px;
  margin-top: .2em;
  margin-bottom: .2em;
  color: #26E808;
}

.newRecordContainer #pushSucessful .inputLabel {
  display: block;
  font-weight: bold;
  font-size: 25px;
  margin: 0 auto;
  margin-bottom: 1em;
  color: #26E808;
}

.newRecordContainer #pushSucessful button {
  margin: 0 auto;
  width: 15%;
  margin-bottom: .5em;
}
