/*GENERAL STYLING*/

body,html{
  min-height:100%;
}

body{
  margin: 0;
  font-family: Segoe UI;
  font-size: 18px;
  height: 100vh;
  overflow: hidden;
}

h1{
  margin: 0;
  padding: 0 0 20 px;
  text-align: center;
  font-size: 22 px;
}

table {
  border: 1px solid black;
}

img{
  width: 100%;
  height: 100%;
}

/*NEW GENERAL STYLING*/
::-webkit-scrollbar {
  width: 3px;
  opacity: 0.2;
}

::-webkit-scrollbar-thumb {
  background: #FC5E1B;
  border-radius: 6px;
  margin-right: .5px;
}

.mainContainer {
  display: grid;
  grid-template-columns: 13% auto;
  margin: 0 auto;
}

.mainContainer .mainLeft {
  background: #FC5E1B;
  height: 100vh;
  margin: 0;
  position: stic;
  overflow: hidden;
}

.mainContainer .mainLeft .mainLeftLogo {
  display: grid;
  grid-template-columns: 60px auto;
  width: 100%;
  height: 4em;
  background: #E44604;
}

.mainContainer .mainLeft .logo {
  margin: .4em;
  width: 60px;
  height: auto;
}

.mainContainer .mainLeft .logoName {
  padding: .3em .8em .8em .8em;
}

.mainContainer .mainLeft .logoName h5 {
  margin: 0;
  padding: 0;
  font-size: 25px;
}

.mainContainer .mainLeft .logoName h6 {
  margin: 0;
  padding: 0;
}

.mainContainer .mainLeft .mainLeftNavList {
  list-style: none;
  padding: 2em;
  margin-bottom: 150%;
}

.mainContainer .mainLeft .mainLeftNavList a {
  padding: 0;
  color: black;
  text-decoration: none;
  line-height: 2em;
  font-size: 18px;
}

.mainContainer .mainLeft .mainLeftNavList a:hover {
  color: #FFBF00;
}

.mainContainer .mainLeft .mainLeftFooter {
  padding: 0em 1.5em 0em 1.5em;
}

.mainContainer .mainLeft .mainLeftFooter .contactUs {
  font-size: 15px !important;
}

.mainContainer .mainLeft .mainLeftFooter p {
  font-size: 10px;
}

.mainContainer .mainLeft .mainLeftFooter hr {
  border: .5px solid black;
}

.mainContainer .mainLeft .mainLeftFooter i {
  width: 20px;
  margin: .5em;
}

.mainContainer .mainRight {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.mainContainer .mainRight .mainRightTop .mainRightTopHeader {
  position: sticky;
  top: 0;
  height: 3em;
  padding: .5em 1em .5em 2em;
  margin: 0;
  background: white;
}

.mainContainer .mainRight .mainRightTop .mainRightTopHeader h3 {
  margin: 0;
  font-size: 40px;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar {
  padding: 1em;
  margin: 0;
  background: #EEE;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox {
  display: grid;
  grid-template-columns: 80% auto;
  padding: 1em 1em 1em 1em;
  background: white;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer {
  height: 100%;
  position: relative;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer .searchBoxContainer {
  display: inline;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer .idLabel {
  color: #FC5E1B;
  font-size: 20px;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer #itemNotFound {
  display: none;
  padding-left: .5em;
  font-size: 14px;
  color: red;
  font-style: italic;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer #idSearchButton {
  cursor: pointer;
  color: white;
  background: #FC5E1B;
  border-radius: 25px;
  border: 1px solid;
  padding: .5em;
  outline: none;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer #idSearch {
  border: solid 1px #707070;
  margin-top: 1em;
  padding: .5em .5em .5em 1em;
  width: 52.5%;
  border-radius: 25px;
  outline: none;
}


/*-----HERE----NAME SEARCH---*/

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer #nameSearch {
  display:none;
  margin-top: .5em;
  width: 53%;
  position: absolute;
  padding:0;
  border-radius: 25px;
  line-height: 1.5em;
  z-index: 1000;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer #nameReturned {
  padding:.5em .5em .5em .5em;
  margin:0;
  list-style: none;
  border: 1px solid;
  border-color: #FC5E1B;
  border-radius: 25px;
  background: white;

}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer .nameReturnedEl {
  padding: .2em;
  padding-left: .8em;
  border-radius: 25px;

}
.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer .nameReturnedEl:hover {
  background: #FC5E1B;
  color: white;
  cursor: pointer;

}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer .filterText {
  margin: 0;
  padding: 0;
  color: #FC5E1B;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer input[type="checkbox"]:checked ~ .filterCheckBoxLabel {
  background: #FC5E1B;
  color: white;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer .filtersContainer {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(6, auto);
  width: 55%;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer .checkBoxContainer {
  margin-right: 1em;
  align-content: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer .filterCheckBoxLabel {
  margin: 0em;
  font-size: 15px;
  padding: .5em;
  border: 1.5px solid;
  border-color: #FC5E1B;
  border-radius: 25px;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer .filterCheckBoxLabel:hover {
  cursor: pointer;
  background: #FFBF00;
  color: white;
  border: none;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxRightContainer {
  height: 100%;
  padding: 0;
  margin-left: 2em;
  margin-right: 2em;
  background: white;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxRightContainer .patientInfoBox {
  padding: 1em;
  line-height: 1em;
  border: 1px solid;
  border-radius: 25px;
  border-color: #FC5E1B;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxRightContainer .patientInfoBox h4 {
  margin: 0;
  margin-bottom: .5em;
  font-size: 20px;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxRightContainer .patientInfoBox h6 {
  margin: 0;
  font-size: 13px;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxRightContainer .patientInfoBox p {
  margin: 0;
  font-size: 13px;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxRightContainer .patientInfoBox:hover {
  cursor: pointer;
  background: #FC5E1B;
  color: white;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxRightContainer input[type="checkbox"]:checked ~ .patientInfoBoxContainer .patientInfoBox {
  background: #FC5E1B;
  color: white;
}

.mainContainer .mainRight .mainRightBody {
  width: 100%;
  height: calc(100% - 14.4em);
  display: grid;
  grid-template-columns: 430px auto;
  overflow: hidden;
}

.mainContainer .mainRight .mainRightBody .mainRightBodyLeft {
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mainContainer .mainRight .mainRightBody .mainRightBodyLeft #recordList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mainContainer .mainRight .mainRightBody .mainRightBodyLeft #recordList .record {
  padding: 1em;
  height: 90px;
  border-bottom: 1px solid;
  border-color: #D2D2D2;
  background: white;
}

.mainContainer .mainRight .mainRightBody .mainRightBodyLeft #recordList .record .recordContainer {
  display: grid;
  grid-template-columns: 320px 50px;
}

.mainContainer .mainRight .mainRightBody .mainRightBodyLeft #recordList .record .recordContainer .recordInfo {
  line-height: 1.3em;
}

.mainContainer .mainRight .mainRightBody .mainRightBodyLeft #recordList .record .recordContainer .recordInfo h4 {
  margin: 0;
  font-size: 20px;
}

.mainContainer .mainRight .mainRightBody .mainRightBodyLeft #recordList .record .recordContainer .recordInfo h6 {
  margin: 0;
  font-size: 15px;
}

.mainContainer .mainRight .mainRightBody .mainRightBodyLeft #recordList .record .recordContainer .recordInfo p {
  margin: 0;
  font-size: 13px;
}

.mainContainer .mainRight .mainRightBody .mainRightBodyLeft #recordList .record .recordContainer .recordType {
  align-self: center;
  padding-left: .5em;
}

.mainContainer .mainRight .mainRightBody .mainRightBodyLeft #recordList .record:hover {
  background: #E8E8E8 !important;
  cursor: pointer;
}

.mainContainer .mainRight .mainRightBody #mainRightBodyRight {
  overflow: scroll;
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% + 1em);
}

.mainContainer .mainRight .mainRightBody .displayFrame {
  align-self: center;
  margin: .5em;
  padding: 1em 2em 2em 2em;
}

.mainContainer .mainRight .mainRightBody .displayFrame h4 {
  line-height: .2em;
  font-size: 15px;
}

.mainContainer .mainRight .mainRightBody .patientRecordPageDisplay {
  height: 100%;
  width: 100%;
}


/*LOGIN STYLING*/

#login_background {
  background: url(/images/background.png);
  background-repeat: no-repeat;
  background-size:cover;
}

#error {
  color: lightcoral;

}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.loginbox{
  width: 320px;
  height: 420px;
  background: #084D80;
  color: #fff;
  top: 50%;
  left: 50%;
  position:  absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 20px;
  border: 2px solid black;
}

.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
  border:none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background: #FC5E1B;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
  cursor: pointer;
  background: #FFBF00;
  color: #fff;
}
.loginbox a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color:  darkgrey;
}

.loginbox a:hover{
  color: #ffc107;

}

/*CALENDAR STYLING*/

.calendar-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 300px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin-left: 9px;
  margin-right: 10px;
}

.calendar-table thead tr {
  background-color: #3895B9;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.calendar-table th,
.calendar-table td {
  padding: 12px 14px;
}

.calendar-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.calendar-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.calendar-table tbody tr:last-of-type {
  border-bottom: 2px solid #FC5E1B;
}

.calendar-table tbody tr.active-row {
  font-weight: bold;
  color: #FC5E1B;
}

.calendar-table td:hover {
  background-color: #FFBF00;
  transition: 0.3s ease-in-out;
}

.calendar-table th td {
padding: 8px;
text-align: center;
border-bottom: 1px solid #ddd;
}

.calendar-button {
 display: block;
 max-width: 300px;
 margin: auto;
 margin-bottom: 15px;
 width: auto;
 color:black;
 text-decoration:none;
 border-radius:5px;
 border:solid 1px #FFAA1D;
 background:#FFBF00;
 text-align:center;
 padding:16px 32px 14px;

 -webkit-transition: all 0.1s;
 -moz-transition: all 0.1s;
 transition: all 0.1s;

 -webkit-box-shadow: 0px 6px 0px #d35400;
 -moz-box-shadow: 0px 6px 0px #d35400;
 box-shadow: 0px 6px 0px #d35400;
}

.calendar-button:active{
 -webkit-box-shadow: 0px 2px 0px #d35400;
 -moz-box-shadow: 0px 2px 0px #d35400;
 box-shadow: 0px 2px 0px #d35400;
 position:relative;
 top:4px;
}

.calendar-button:hover {
  background-color: #FC5E1B;
  color: white;
  transition: 0.3s ease-in-out;
}

.calendar-paragraphyear {
  margin: 5px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.calendar-paragraphmonth {
  margin: 5px;
  color: black;
  text-align: center;
}

/* APPOINTMENT STYLING */


.appointment-form{
    width:450px;
  	padding:30px;
  	margin:40px auto;
  	background: #f3f3f3;
  	border-radius: 10px;
  	-webkit-border-radius:10px;
  	-moz-border-radius: 10px;
  	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.appointment-form select {
	display: row;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 30%;
	padding: 8px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.appointment-form input {
	display: inline-block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 50%;
	padding: 8px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.appointment-formh{

  color: #FC5E1B;
  text-align: center;
}

.appointment-form label{
	display: block;
	font: 13px Arial, Helvetica, sans-serif;
	color: #000;
	margin-bottom: 5px;
  margin-top: 5px;
}

.appointment-button {
 max-width: 300px;
 margin: 10px;
 margin-top: 15px;
 width: auto;
 color:black;
 text-decoration:none;
 border-radius:5px;
 border:solid 1px #FFAA1D;
 background:#FFBF00;
 text-align:center;
 padding:16px 32px 14px;

 -webkit-transition: all 0.1s;
 -moz-transition: all 0.1s;
 transition: all 0.1s;

 -webkit-box-shadow: 0px 6px 0px #d35400;
 -moz-box-shadow: 0px 6px 0px #d35400;
 box-shadow: 0px 6px 0px #d35400;
}

.appointment-button:active{
 -webkit-box-shadow: 0px 2px 0px #d35400;
 -moz-box-shadow: 0px 2px 0px #d35400;
 box-shadow: 0px 2px 0px #d35400;
 position:relative;
 top:4px;
}

.appointment-button:hover {
  background-color: #FC5E1B;
  color: white;
  transition: 0.3s ease-in-out;
}

.appointment-div {
  max-height: 70px;
  overflow-y: scroll;
}

/*Enroll Styling*/

.mainContainer #progressBar {
  height: 3px;
  margin: 0;
  padding: 0;
  background: #FC5E1B;
}

.mainContainer #formNavButtons {
  width: 100%;
  text-align: right;
}

.mainContainer #formNavButtons button {
  width: 15%;
}

.mainContainer #welcome {
  width: 100%;
  text-align: center;
}

.mainContainer #welcome h2 {
  font-size: 35px;
}

.mainContainer #welcome label {
  display: block;
}

.mainContainer #welcome select {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid;
  border-radius: 25px;
  padding: .2em;
  outline: none;
}

.mainContainer #welcome #iconContainer {
  width: 30%;
  margin: 0 auto;
}

.mainContainer #welcome #iconContainer i {
  font-size: 200px;
  padding: 0;
  margin-top: .1em;
  margin-bottom: .3em;
}

.mainContainer #welcome button {
  width: 15%;
  display: block;
  margin: 0 auto;
}

.mainContainer .enrollmentForm {
  width: 30%;
  align-self: center;
}

.mainContainer .enrollmentForm select {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid;
  border-radius: 25px;
  padding: .2em;
  outline: none;
}

.mainContainer .enrollmentForm .enrollmentFormInputLabel {
  display: block;
  padding: .2em .2em .5em .2em;
  font-weight: bold;
  font-size: 12px;
}

.mainContainer .enrollmentForm .enrollmentFormRecordInput {
  display: block;
  margin-bottom: 1em;
  margin-top: .2em;
  outline: none;
  border: 1px solid;
  border-color: #B1B1B1;
  border-radius: 25px;
  padding: .5em;
}

.mainContainer .newRecordButton {
  cursor: pointer;
  color: #FC5E1B;
  background: white;
  border-radius: 25px;
  border: 1px solid;
  border-color: #FC5E1B;
  padding: .5em .9em .5em .7em;
  outline: none;
  margin-right: 1em;
  margin-top: .5em;
}

.mainContainer .newRecordButton:hover {
  cursor: pointer;
  color: white;
  background: #FC5E1B;
  border-radius: 25px;
  border: 1px solid;
  padding: .5em .9em .5em .7em;
  outline: none;
  margin-right: 1em;
  margin-top: .5em;
}

/*Enroll Page*/
.mainContainer .mainRight .mainRightTopHeader {
  position: sticky;
  top: 0;
  height: 3em;
  padding: .5em 1em .5em 2em;
  margin: 0;
  background: white;
}

.mainContainer .mainRight .mainRightTopHeader h3 {
  margin: 0;
  font-size: 40px;
}

.mainContainer .mainRight .mainRightBodyContainer {
  padding: 1em;
  margin: 0;
  background: #EEE;
  overflow: scroll;
}

.mainContainer .mainRight .mainRightBodyContainer .mainRightBodyContent {
  display: grid;
  width: 70%;
  margin: 0 auto;
  grid-template-columns: 100%;
  background: white;
}

.mainContainer .mainRight .mainRightBodyContainer .mainRightBodyContent .mainRightBodyContentPadding {
  display: grid;
  padding: 1em;
}

.mainContainer #progressBar {
  height: 3px;
  margin: 0;
  padding: 0;
  background: #FC5E1B;
}

.mainContainer #formNavButtons {
  width: 100%;
  text-align: right;
}

.mainContainer #formNavButtons button {
  width: 15%;
}

.mainContainer #welcome {
  width: 100%;
  text-align: center;
}

.mainContainer #welcome h2 {
  font-size: 35px;
}

.mainContainer #welcome label {
  display: block;
}

.mainContainer #welcome select {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid;
  border-radius: 25px;
  padding: .2em;
  outline: none;
}

.mainContainer #welcome #iconContainer {
  width: 30%;
  margin: 0 auto;
}

.mainContainer #welcome #iconContainer i {
  font-size: 200px;
  padding: 0;
  margin-top: .1em;
  margin-bottom: .3em;
}

.mainContainer #welcome button {
  width: 15%;
  display: block;
  margin: 0 auto;
}

.mainContainer .enrollmentForm {
  width: 30%;
  align-self: center;
}

.mainContainer .enrollmentForm select {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid;
  border-radius: 25px;
  padding: .2em;
  outline: none;
}

.mainContainer .enrollmentForm .enrollmentFormInputLabel {
  display: block;
  padding: .2em .2em .5em .2em;
  font-weight: bold;
  font-size: 12px;
}

.mainContainer .enrollmentForm .enrollmentFormRecordInput {
  display: block;
  margin-bottom: 1em;
  margin-top: .2em;
  outline: none;
  border: 1px solid;
  border-color: #B1B1B1;
  border-radius: 25px;
  padding: .5em;
}

.mainContainer .newRecordButton {
  cursor: pointer;
  color: #FC5E1B;
  background: white;
  border-radius: 25px;
  border: 1px solid;
  border-color: #FC5E1B;
  padding: .5em .9em .5em .7em;
  outline: none;
  margin-right: 1em;
  margin-top: .5em;
}

.mainContainer .newRecordButton:hover {
  cursor: pointer;
  color: white;
  background: #FC5E1B;
  border-radius: 25px;
  border: 1px solid;
  padding: .5em .9em .5em .7em;
  outline: none;
  margin-right: 1em;
  margin-top: .5em;
}


/*------------------Patient Page in testing--------------*/

.body {
  background: white;
  font-family: Segoe UI;
  margin: 0;
  padding-bottom: 1em;
  border: 1px solid;
  border-color: white;
  overflow: scroll;
  height: 100%;
}

.container {
  align-self: center;
  margin: 0;
  padding: 0;
}

#patientName {
  background: white;
  top: 0px;
  display: sticky;
}

#generalPersonal, #generalParents, #recordSummaryContent {
  padding: 0;
  margin: 0;
}

#generalPersonal p, #generalParents p, #recordSummaryContent p {
  font-size: 13px;
  padding-left: 2.5em;
  line-height: 2em;
}

#generalBiometrics {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 70%;
  padding: 0;
  margin: 0;
}

#generalBiometrics p {
  font-size: 13px;
  padding-left: 2.5em;
  line-height: 2em;
}

#rightBiometrics {
  padding: 1em 0em 0em 0em;
  margin: 0;
}

#examinationsContent {
  width: 40%;
  height: 100%;
  border: none;
}

#examinationsContent td {
  font-size: 13px;
  padding: .5em 1em .5em 0em;
}

#examinationsContent .complete {
  color: #00FF44;
  font-weight: bold;
}

#examinationsContent .incomplete {
  color: #FF0000;
  font-weight: bold;
}

.sectionTitle {
  background-color: #FC5E1B;
  margin: 0;
  position: sticky;
  top: 0px;
}

.mainContentPadding {
  width: 90%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

.contentPadding {
  padding: 0em 1em 0em 1em;
  margin: 0;
}

.contentPadding h5 {
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.sectionTitlePadding {
  padding: 0em 1em 0em 1em;
}

.sectionTitlePadding h5 {
  font-size: 13px;
  padding-top: .5em;
  padding-bottom: .5em;
}

#generalInfoContent {
  display: grid;
  grid-template-columns: 20% 20% 60%;
}

#addRecordButton, #requestEditButton {
  cursor: pointer;
  color: #FC5E1B;
  background: white;
  border-radius: 25px;
  border: 1px solid;
  border-color: #FC5E1B;
  padding: .5em .9em .5em .7em;
  outline: none;
  margin-right: 1em;
  margin-top: .5em;
}

#addRecordButton a {
    font-size: 13px;
}

#addRecordButton:hover, #requestEditButton:hover {
  cursor: pointer;
  color: white;
  background: #FC5E1B;
  border-radius: 25px;
  border: 1px solid;
  padding: .5em .9em .5em .7em;
  outline: none;
  margin-right: 1em;
  margin-top: .5em;
}
