body {
  margin: 0;
  font-family: Segoe UI;
  font-size: 18px;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 3px;
  opacity: 0.2;
}

::-webkit-scrollbar-thumb {
  background: #FC5E1B;
  border-radius: 6px;
  margin-right: .5px;
}

.mainContainer {
  display: grid;
  grid-template-columns: 13% auto;
  margin: 0 auto;
}

.mainContainer .mainLeft {
  background: #FC5E1B;
  height: 100vh;
  margin: 0;
  position: stic;
  overflow: hidden;
}

.mainContainer .mainLeft .mainLeftLogo {
  display: grid;
  grid-template-columns: 60px auto;
  width: 100%;
  height: 4em;
  background: #E44604;
}

.mainContainer .mainLeft .logo {
  margin: .4em;
  width: 60px;
  height: auto;
}

.mainContainer .mainLeft .logoName {
  padding: .3em .8em .8em .8em;
}

.mainContainer .mainLeft .logoName h5 {
  margin: 0;
  padding: 0;
  font-size: 25px;
}

.mainContainer .mainLeft .logoName h6 {
  margin: 0;
  padding: 0;
}

.mainContainer .mainLeft .mainLeftNavList {
  list-style: none;
  padding: 2em;
  margin-bottom: 150%;
}

.mainContainer .mainLeft .mainLeftNavList a {
  padding: 0;
  color: black;
  text-decoration: none;
  line-height: 2em;
  font-size: 18px;
}

.mainContainer .mainLeft .mainLeftNavList a:hover {
  color: #FFBF00;
}

.mainContainer .mainLeft .mainLeftFooter {
  padding: 0em 1.5em 0em 1.5em;
}

.mainContainer .mainLeft .mainLeftFooter .contactUs {
  font-size: 15px !important;
}

.mainContainer .mainLeft .mainLeftFooter p {
  font-size: 10px;
}

.mainContainer .mainLeft .mainLeftFooter hr {
  border: .5px solid black;
}

.mainContainer .mainLeft .mainLeftFooter i {
  width: 20px;
  margin: .5em;
}

.mainContainer .mainRight {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.mainContainer .mainRight .mainRightTopHeader {
  position: sticky;
  top: 0;
  height: 3em;
  padding: .5em 1em .5em 2em;
  margin: 0;
  background: white;
}

.mainContainer .mainRight .mainRightTopHeader h3 {
  margin: 0;
  font-size: 40px;
}

.mainContainer .mainRight .mainRightBodyContainer {
  padding: 1em;
  margin: 0;
  background: #EEE;
  overflow: scroll;
}

.mainContainer .mainRight .mainRightBodyContainer .mainRightBodyContent {
  display: grid;
  width: 70%;
  margin: 0 auto;
  grid-template-columns: 100%;
  background: white;
}

.mainContainer .mainRight .mainRightBodyContainer .mainRightBodyContent .mainRightBodyContentPadding {
  display: grid;
  padding: 1em;
}

.mainContainer #progressBar {
  height: 3px;
  margin: 0;
  padding: 0;
  background: #FC5E1B;
}

.mainContainer #formNavButtons {
  width: 100%;
  text-align: right;
}

.mainContainer #formNavButtons button {
  width: 15%;
}

.mainContainer #welcome {
  width: 100%;
  text-align: center;
}

.mainContainer #welcome h2 {
  font-size: 35px;
}

.mainContainer #welcome label {
  display: block;
}

.mainContainer #welcome select {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid;
  border-radius: 25px;
  padding: .2em;
  outline: none;
}

.mainContainer #welcome #iconContainer {
  width: 30%;
  margin: 0 auto;
}

.mainContainer #welcome #iconContainer i {
  font-size: 200px;
  padding: 0;
  margin-top: .1em;
  margin-bottom: .3em;
}

.mainContainer #welcome button {
  width: 15%;
  display: block;
  margin: 0 auto;
}

.mainContainer .enrollmentForm {
  width: 30%;
  align-self: center;
}

.mainContainer .enrollmentForm select {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid;
  border-radius: 25px;
  padding: .2em;
  outline: none;
}

.mainContainer .enrollmentForm .enrollmentFormInputLabel {
  display: block;
  padding: .2em .2em .5em .2em;
  font-weight: bold;
  font-size: 12px;
}

.mainContainer .enrollmentForm .enrollmentFormRecordInput {
  display: block;
  margin-bottom: 1em;
  margin-top: .2em;
  outline: none;
  border: 1px solid;
  border-color: #B1B1B1;
  border-radius: 25px;
  padding: .5em;
}

.mainContainer .newRecordButton {
  cursor: pointer;
  color: #FC5E1B;
  background: white;
  border-radius: 25px;
  border: 1px solid;
  border-color: #FC5E1B;
  padding: .5em .9em .5em .7em;
  outline: none;
  margin-right: 1em;
  margin-top: .5em;
}

.mainContainer .newRecordButton:hover {
  cursor: pointer;
  color: white;
  background: #FC5E1B;
  border-radius: 25px;
  border: 1px solid;
  padding: .5em .9em .5em .7em;
  outline: none;
  margin-right: 1em;
  margin-top: .5em;
}
