body{
  background: white;
  font-family: Segoe UI;
  margin:0;
  padding-bottom:1em;
  border:1px solid;
  border-color: white;

}


.container{
  align-self: center;
  margin: 0;
  padding: 0;
}

#patientName{
  background: white;
  top:0px;
  display: sticky;
}

#generalPersonal,#generalParents,#recordSummaryContent{
  padding: 0;
  margin: 0;
  p{
    font-size: 13px;
    padding-left: 2.5em;
    line-height: 2em;
  }
}

#generalBiometrics{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 70%;
  padding: 0;
  margin: 0;
  p{
    font-size: 13px;
    padding-left: 2.5em;
    line-height: 2em;
  }
}

#rightBiometrics{
  padding:1em 0em 0em 0em;
  margin:0
}
#examinationsContent{
  width: 40%;
  height: 100%;
  td{
    font-size: 13px;
    padding: .5em 1em .5em 0em;
  }
  .complete{
    color: #00FF44;
    font-weight: bold;
  }
  .incomplete{
    color: #FF0000;
    font-weight: bold;
  }
}

.sectionTitle{
  background-color: #FC5E1B;
  margin:0;
  position:sticky;
  top:0px;
}
.mainContentPadding{
  //background: #EEEEEE;
  width: 90%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom:1em;
}
.contentPadding{
  padding: 0em 1em 0em 1em;
  margin:0;
  h5{
    font-size: 15px;
    padding: 0;
    margin: 0;
  }
}

.sectionTitlePadding{
  padding: 0em 1em 0em 1em;
  h5{
    font-size: 13px;
    padding-top: .5em;
    padding-bottom: .5em;
  }
}

#generalInfoContent{
  display:grid;
  grid-template-columns: 20% 20% 60%;
}
#addRecordButton,#requestEditButton{
  cursor: pointer;
  color: #FC5E1B;
  background: white;
  border-radius: 25px;
  border: 1px solid;
  border-color: #FC5E1B;
  padding:  .5em .9em .5em .7em;
  outline:none;
  margin-right: 1em;
  margin-top: .5em;

}
a{
  text-decoration: none;
  font-size: 13px;
}

#addRecordButton:hover,#requestEditButton:hover{
  cursor: pointer;
  color:white;
  background: #FC5E1B;
  border-radius: 25px;
  border: 1px solid;
  padding:  .5em .9em .5em .7em;
  outline:none;
  margin-right: 1em;
  margin-top: .5em;
}


::-webkit-scrollbar{
  width: 3px;
  opacity: 0.2;
}
::-webkit-scrollbar-thumb{
  background: #FC5E1B;

  border-radius: 25px;

}
