body {
  margin: 0;
  font-family: Segoe UI;
  font-size: 18px;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 3px;
  opacity: 0.2;
}

::-webkit-scrollbar-thumb {
  background: #FC5E1B;
  border-radius: 6px;
  margin-right: .5px;
}

.mainContainer {
  display: grid;
  grid-template-columns: 13% auto;
  margin: 0 auto;
}

.mainContainer .mainLeft {
  background: #FC5E1B;
  height: 100vh;
  margin: 0;
  position: stic;
  overflow: hidden;
}

.mainContainer .mainLeft .mainLeftLogo {
  display: grid;
  grid-template-columns: 60px auto;
  width: 100%;
  height: 4em;
  background: #E44604;
}

.mainContainer .mainLeft .logo {
  margin: .4em;
  width: 60px;
  height: auto;
}

.mainContainer .mainLeft .logoName {
  padding: .3em .8em .8em .8em;
}

.mainContainer .mainLeft .logoName h5 {
  margin: 0;
  padding: 0;
  font-size: 25px;
}

.mainContainer .mainLeft .logoName h6 {
  margin: 0;
  padding: 0;
}

.mainContainer .mainLeft .mainLeftNavList {
  list-style: none;
  padding: 2em;
  margin-bottom: 150%;
}

.mainContainer .mainLeft .mainLeftNavList a {
  padding: 0;
  color: black;
  text-decoration: none;
  line-height: 2em;
  font-size: 18px;
}

.mainContainer .mainLeft .mainLeftNavList a:hover {
  color: #FFBF00;
}

.mainContainer .mainLeft .mainLeftFooter {
  padding: 0em 1.5em 0em 1.5em;
}

.mainContainer .mainLeft .mainLeftFooter .contactUs {
  font-size: 15px !important;
}

.mainContainer .mainLeft .mainLeftFooter p {
  font-size: 10px;
}

.mainContainer .mainLeft .mainLeftFooter hr {
  border: .5px solid black;
}

.mainContainer .mainLeft .mainLeftFooter i {
  width: 20px;
  margin: .5em;
}

.mainContainer .mainRight {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.mainContainer .mainRight .mainRightTop .mainRightTopHeader {
  position: sticky;
  top: 0;
  height: 3em;
  padding: .5em 1em .5em 2em;
  margin: 0;
  background: white;
}

.mainContainer .mainRight .mainRightTop .mainRightTopHeader h3 {
  margin: 0;
  font-size: 40px;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar {
  padding: 1em;
  margin: 0;
  background: #EEE;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox {
  display: grid;
  grid-template-columns: 80% auto;
  padding: 1em 1em 1em 1em;
  background: white;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer {
  height: 100%;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer .searchBoxContainer {
  display: inline;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer .patientIdLabel {
  color: #FC5E1B;
  font-size: 20px;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer #patientNotFound {
  display: none;
  padding-left: .5em;
  font-size: 14px;
  color: red;
  font-style: italic;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer #patientIdSearchButton {
  cursor: pointer;
  color: white;
  background: #FC5E1B;
  border-radius: 25px;
  border: 1px solid;
  padding: .5em;
  outline: none;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer #patientIdSearch {
  border: solid 1px #707070;
  margin-top: 1em;
  padding: .5em .5em .5em 1em;
  width: 52.5%;
  border-radius: 25px;
  outline: none;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer .filterText {
  margin: 0;
  padding: 0;
  color: #FC5E1B;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer input[type="checkbox"]:checked ~ .filterCheckBoxLabel {
  background: #FC5E1B;
  color: white;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer .filtersContainer {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(6, auto);
  width: 55%;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer .checkBoxContainer {
  margin-right: 1em;
  align-content: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer .filterCheckBoxLabel {
  margin: 0em;
  font-size: 15px;
  padding: .5em;
  border: 1.5px solid;
  border-color: #FC5E1B;
  border-radius: 25px;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxLeftContainer .filterCheckBoxLabel:hover {
  cursor: pointer;
  background: #FFBF00;
  color: white;
  border: none;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxRightContainer {
  height: 100%;
  padding: 0;
  margin-left: 2em;
  margin-right: 2em;
  background: white;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxRightContainer .patientInfoBox {
  padding: 1em;
  line-height: 1em;
  border: 1px solid;
  border-radius: 25px;
  border-color: #FC5E1B;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxRightContainer .patientInfoBox h4 {
  margin: 0;
  margin-bottom: .5em;
  font-size: 20px;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxRightContainer .patientInfoBox h6 {
  margin: 0;
  font-size: 13px;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxRightContainer .patientInfoBox p {
  margin: 0;
  font-size: 13px;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxRightContainer .patientInfoBox:hover {
  cursor: pointer;
  background: #FC5E1B;
  color: white;
  border: 1px solid;
}

.mainContainer .mainRight .mainRightTop .mainRightTopToolBar .mainRightTopToolBarBox .mainRightTopToolBarBoxRightContainer input[type="checkbox"]:checked ~ .patientInfoBoxContainer .patientInfoBox {
  background: #FC5E1B;
  color: white;
}

.mainContainer .mainRight .mainRightBody {
  width: 100%;
  height: calc(100% - 14.4em);
  display: grid;
  grid-template-columns: 430px auto;
}

.mainContainer .mainRight .mainRightBody .mainRightBodyLeft {
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mainContainer .mainRight .mainRightBody .mainRightBodyLeft #recordList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mainContainer .mainRight .mainRightBody .mainRightBodyLeft #recordList .record {
  padding: 1em;
  height: 90px;
  border-bottom: 1px solid;
  border-color: #D2D2D2;
  background: white;
}

.mainContainer .mainRight .mainRightBody .mainRightBodyLeft #recordList .record .recordContainer {
  display: grid;
  grid-template-columns: 320px 50px;
}

.mainContainer .mainRight .mainRightBody .mainRightBodyLeft #recordList .record .recordContainer .recordInfo {
  line-height: 1.3em;
}

.mainContainer .mainRight .mainRightBody .mainRightBodyLeft #recordList .record .recordContainer .recordInfo h4 {
  margin: 0;
  font-size: 20px;
}

.mainContainer .mainRight .mainRightBody .mainRightBodyLeft #recordList .record .recordContainer .recordInfo h6 {
  margin: 0;
  font-size: 15px;
}

.mainContainer .mainRight .mainRightBody .mainRightBodyLeft #recordList .record .recordContainer .recordInfo p {
  margin: 0;
  font-size: 13px;
}

.mainContainer .mainRight .mainRightBody .mainRightBodyLeft #recordList .record .recordContainer .recordType {
  align-self: center;
  padding-left: .5em;
}

.mainContainer .mainRight .mainRightBody .mainRightBodyLeft #recordList .record:hover {
  background: #E8E8E8 !important;
  cursor: pointer;
}

.mainContainer .mainRight .mainRightBody #mainRightBodyRight {
  overflow: scroll;
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% + 1em);
}

.mainContainer .mainRight .mainRightBody .displayFrame {
  align-self: center;
  margin: .5em;
  padding: 1em 2em 2em 2em;
}

.mainContainer .mainRight .mainRightBody .displayFrame h4 {
  line-height: .2em;
  font-size: 15px;
}

.mainContainer .mainRight .mainRightBody .patientRecordPageDisplay {
  height: 100%;
  width: 100%;
}
