body{
  margin: 0;
  font-family: Segoe UI;
  font-size: 18px;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar{
  width: 3px;
  opacity: 0.2;

}
::-webkit-scrollbar-thumb{
  background: #FC5E1B;
  border-radius: 6px;
  margin-right: .5px;
}

.mainContainer{
  display: grid;
  grid-template-columns: 13% auto;
  margin: 0 auto;



  .mainLeft{
      background: #FC5E1B;
      height: 100vh;
      margin:0;
      position: stic;
      overflow: hidden;

      .mainLeftLogo{
        display: grid;
        grid-template-columns: 60px auto;
        width: 100%;
        height: 4em;
        background: #E44604;
      }
      .logo{
        margin: .4em;
        width: 60px;
        height: auto;
      }

      .logoName{
        padding: .3em .8em .8em .8em;
        h5{
          margin:0;
          padding:0;
          font-size: 25px;
        }
        h6{
          margin:0;
          padding:0;
        }

      }

      .mainLeftNavList{
        list-style: none;
        padding: 2em;
        margin-bottom: 150%;

      }
      .mainLeftNavList a{
        padding: 0;
        color: black;
        text-decoration: none;
        line-height: 2em;
        font-size: 18px;
      }
      .mainLeftNavList a:hover{
        color: #FFBF00;
      }

      .mainLeftFooter{
        padding: 0em 1.5em 0em 1.5em ;
        .contactUs{
          font-size: 15px !important;
        }
        p{
          font-size: 10px;
        }
        hr{
           border: .5px solid black;
        }
        i{
          width: 20px;
          margin: .5em;
        }
      }
  }

  .mainRight{

    height: 100vh;
    margin:0;
    padding:0;

    .mainRightTop{

      .mainRightTopHeader{
        position: sticky;
        top: 0;
        height: 3em;
        padding:.5em 1em .5em 2em;
        margin: 0;
        background: white;
        h3{
          margin: 0;
          font-size: 40px;
        }
      }

      .mainRightTopToolBar{
        padding: 1em;
        margin:0;
        background: #EEE;
        .mainRightTopToolBarBox{
          display: grid;
          grid-template-columns: 80% auto;
          padding: 1em 1em 1em 1em; // top right bottom left
          background: white;
          .mainRightTopToolBarBoxLeftContainer{
            height: 100%;

            .searchBoxContainer{
              display:inline;

            }

            .patientIdLabel{
              color: #FC5E1B;
              font-size: 20px;
            }

            #patientNotFound{
              display:none;
              padding-left: .5em;
              font-size: 14px;
              color: red;
              font-style: italic;
            }

            #patientIdSearchButton{
              cursor: pointer;
              color:white;
              background: #FC5E1B;
              border-radius: 25px;
              border: 1px solid;
              padding: .5em;
              outline:none;
            }


            #patientIdSearch{
              border: solid 1px #707070;
              margin-top: 1em;
              padding: .5em .5em .5em 1em;
              width:52.5%;
              border-radius: 25px;
              outline:none;
            }

            .filterText{
              margin:0;
              padding:0;
              color: #FC5E1B;
            }

            input[type="checkbox"]:checked ~ .filterCheckBoxLabel{
              background: #FC5E1B;
              color: white;
            }

            .filtersContainer{

              margin-top: 1em;
              display: grid;
              grid-template-columns: repeat(6, auto);
              width:55%
            }

            .checkBoxContainer{
              //background: #EEEEEE;
              margin-right: 1em;
              align-content: left;
              width: 100%;
              margin: 0;
              padding:0;
            }

            .filterCheckBoxLabel{

              margin: 0em;
              font-size: 15px;
              padding: .5em;
              border: 1.5px solid;
              border-color: #FC5E1B;
              border-radius: 25px;
            }
            .filterCheckBoxLabel:hover{
              cursor: pointer;
              background: #FFBF00;
              color: white;
              border: none;
            }


          }
          .mainRightTopToolBarBoxRightContainer{
              height: 100%;
              padding: 0;
              margin-left: 2em;
              margin-right: 2em;
              background: white;
              .patientInfoBox{
                padding: 1em;
                line-height: 1em;
                border: 1px solid;
                border-radius: 25px;
                border-color: #FC5E1B;
                h4{
                  margin:0;
                  margin-bottom: .5em;
                  font-size: 20px;
                }
                h6{
                  margin:0;
                  font-size: 13px;
                }
                p{
                  margin:0;
                  font-size: 13px;
                }
              }

              .patientInfoBox:hover{
                cursor: pointer;
                background: #FC5E1B;
                color: white;
                border:1px solid;
              }

              input[type="checkbox"]:checked ~ .patientInfoBoxContainer{
                .patientInfoBox{
                  background: #FC5E1B ;
                  color: white;
                }
              }
            }
        }
      }
    }

    .mainRightBody{
        width: 100%;
        height: calc(100% - 14.4em); //change hight of bottom div body here
        display: grid;
        grid-template-columns: 430px auto;

        .mainRightBodyLeft{
          margin: 0;
          overflow-y: scroll ;
          overflow-x: hidden ;
          #recordList{
            margin:0 ;
            padding: 0;
            list-style: none;

            .record{
              padding: 1em;
              height: 90px;
              border-bottom: 1px solid;
              border-color: #D2D2D2;
              background: white;
              .recordContainer{
                display: grid;
                grid-template-columns: 320px 50px;
                .recordInfo{
                  line-height: 1.3em;
                  h4{
                    margin:0;
                    font-size: 20px;
                  }
                  h6{
                    margin:0;
                    font-size: 15px;
                  }
                  p{

                    margin:0;
                    font-size: 13px;
                  }
                }
                .recordType{
                  align-self: center;
                  padding-left: .5em;
                }
              }
            }
            .record:hover{
              background: #E8E8E8 !important;
              cursor: pointer;
            }
          }
        }

        #mainRightBodyRight{
          overflow: scroll;
          margin: 0;
          padding: 0;
          width: 100%;
          height: calc(100% + 1em);

        }
        .displayFrame{
          h4{
            line-height: .2em;
            font-size: 15px;
          }

          align-self: center;
          margin: .5em;
          padding: 1em 2em 2em 2em;
        }

        .patientRecordPageDisplay{
          height: 100%;
          width: 100%;

        }

      }

  }

}
