body,html{
  min-height:100%;
}

body{
  margin: 0;
  padding: 0;
  background: url(background.png);
  background-repeat: no-repeat;
  background-size:cover;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.loginbox{
  width: 320px;
  height: 420px;
  background: #084D80;
  color: #fff;
  top: 50%;
  left: 50%;
  position:  absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 20px;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

h1{
  margin: 0;
  padding: 0 0 20 px;
  text-align: center;
  font-size: 22 px;
}

.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
  border:none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background: #FC5E1B;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
  cursor: pointer;
  background: #FFBF00;
  color: #fff;
}
.loginbox a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color:  darkgrey;
}

.loginbox a:hover{
  color: #ffc107;

}
