extends component/layout

block additionalScripts

block head
  h3 Calendar

block mainRight
  include component/appointment.jade

block RightTopToolBarBox
  p Click on a date to begin viewing schedule or add appointment.
block mainLeft
  p#demo4
  button.calendar-button(onclick='subMonth()') Prev
  button.calendar-button(onclick='addMonth()') Next
  p#demo.calendar-paragraphyear
  p#demo2.calendar-paragraphmonth
  table#table.calendar-table
    tbody
      tr
        th Sun
        th Mon
        th Tue
        th Wed
        th Thu
        th Fri
        th Sat
      tr
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
      tr
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
      tr
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
      tr
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
      tr
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
      tr
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
        td(onclick='showPlanner(this)')
  p#test
  #planner
    button.calendar-button(id='addApp',onclick='addMeeting()') Add Appointment
    script.
      clearCalendar();
      createCalendar();
      document.getElementById("addApp").style.visibility = 'hidden';
      document.getElementById("demo").innerHTML = showMonth(currentMonth);
      function createCalendar() {
      console.log('create');
      startYear = currentYear;
      startMonth = currentMonth;
      firstDay = new Date();
      firstDay.setFullYear(startYear, startMonth, 1);
      numCount = choseDateCount(startMonth, firstDay);
      colCount = firstDay.getDay();
      rowCount = 1;
      for (var date = 1; date <= numCount; ++date) {
      table.rows[rowCount].cells[colCount].innerHTML = date;
      colCount = colCount + 1;
      if (colCount == 7) {
      rowCount = rowCount + 1;
      colCount = 0;
      }
      }
      }
