extends component/alt_layout

block head
    h3
        i.fas.fa-user-plus
        |   Enroll Patient

block additionalScripts
    script(src='/js/enroll.js')

block rightBody
    #progressBar
    .mainRightBodyContentPadding
        #welcome
            h2 New Patient ?
            #iconContainer
                i.fas.fa-shield-alt
                label(for='lockIcon') We'll be sure to keep your records safe!
                label(for='presentPatient') is the patient present?
                select(name='')
                    option(value='yes') Yes
                    option(value='no') No
            button#enrollButton.newRecordButton(type='button') Enroll
        form#form-1.enrollmentForm(hidden='')
            // Turn form elements into table
            h3#pleaseReviewform(hidden='') please review form:
            
            h3 Student Information
            
            label.enrollmentFormInputLabel(for='studentName') Student Name:
            input#studentName.enrollmentFormRecordInput(type='text')
            label.enrollmentFormInputLabel(for='classYear') Class:
            input#classYear.enrollmentFormRecordInput(type='text')
            label.enrollmentFormInputLabel(for='address') Address:
            input#address.enrollmentFormRecordInput(type='text')
            label.enrollmentFormInputLabel(for='sex') Sex:
            input#sex.enrollmentFormRecordInput(type='text')
            label.enrollmentFormInputLabel(for='DOB') DOB:
            input#DOB.enrollmentFormRecordInput(type='text')
            label.enrollmentFormInputLabel(for='fatherName') Father's Name:
            input#fatherName.enrollmentFormRecordInput(type='text')
            label.enrollmentFormInputLabel(for='fatherOccupation') Occupation:
            input#fatherOccupation.enrollmentFormRecordInput(type='text')
            label.enrollmentFormInputLabel(for='motherName') Mother's Name:
            input#motherName.enrollmentFormRecordInput(type='text')
            label.enrollmentFormInputLabel(for='motherOccupation') Occupation:
            input#motherOccupation.enrollmentFormRecordInput(type='text')
            label.enrollmentFormInputLabel(for='contact') Contact#:
            input#contact.enrollmentFormRecordInput(type='text')
            br
            
            label.enrollmentFormInputLabel Staying With:
            
            label.enrollmentFormInputLabel(for='staywithName') Name:
            input#staywithName.enrollmentFormRecordInput(type='text')
            label.enrollmentFormInputLabel(for='staywithContact') Contact:
            input#staywithContact.enrollmentFormRecordInput(type='text')
            
            
        form#biometricsData.enrollmentForm(hidden='')
        
            h3 Biometrics
            
            label.enrollmentFormInputLabel(for='height') Height:
            input#height.enrollmentFormRecordInput(type='text')
            label.enrollmentFormInputLabel(for='waist') waist:
            input#waist.enrollmentFormRecordInput(type='text')
            label.enrollmentFormInputLabel(for='chest') chest:
            input#chest.enrollmentFormRecordInput(type='text')
            label.enrollmentFormInputLabel(for='pulse') pulse:
            input#pulse.enrollmentFormRecordInput(type='text')
            label.enrollmentFormInputLabel(for='respiratory') respiratory:
            input#respiratory.enrollmentFormRecordInput(type='text')
            label.enrollmentFormInputLabel(for='BMI') BMI:
            input#BMI.enrollmentFormRecordInput(type='text')
            label.enrollmentFormInputLabel(for='weight') weight:
            input#weight.enrollmentFormRecordInput(type='text')
            label.enrollmentFormInputLabel(for='headCirc') headCirc:
            input#headCirc.enrollmentFormRecordInput(type='text')
            label.enrollmentFormInputLabel(for='BP') Blood Preasure:
            input#BP.enrollmentFormRecordInput(type='text')
            label.enrollmentFormInputLabel(for='temperature') temperature:
            input#temperature.enrollmentFormRecordInput(type='text')
            label.enrollmentFormInputLabel(for='lastUpdated') lastUpdated:
            input#lastUpdated.enrollmentFormRecordInput(type='text')
            label.enrollmentFormInputLabel(for='doctorName') Doctor Name:
            input#doctorName.enrollmentFormRecordInput(type='text')
            br
            
        form#form-3.enrollmentForm
        form#form-4.enrollmentForm
        form#form-5.enrollmentForm
        form#confirmEnrollment(hidden='')
            button#confirmSubmitButton.newRecordButton(type='button') Confirm & Submit
            button#cancelButton.newRecordButton(type='button') Cancel
        #formNavButtons(hidden='')
            button#previousButton.newRecordButton(type='button') Previous
            button#nextButton.newRecordButton(type='button') Next
