html
  include component/head.jade
  body
    .mainContainer
      .mainLeft
        .mainLeftLogo
          img.logo(src='./images/blackLogoretouched.png', alt='Logo_here')
          .logoName
            h5 aarogya
            h6 EHR for kids | Volunteers
      
        include component/footer.jade

      .mainRight
        .mainRightTop
          .mainRightTopHeader
            h3 Error !{ status }