html
  head
    title Login Form Design
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body#login_background
    .loginbox
      img.avatar(src='/images/avatar.png' class="avatar")
      h1 User Login
      #error
        !{ error }
      form(method='POST' action="/login")
        p Username
        input(type='text', name='uname', placeholder='Enter Username')
        p Password
        input(type='password', name='pword', placeholder='Enter Password')
        input(type='submit', name='', value='Login')
        a(href='#') Forgotten Password
        br
        a(href='#') Register for an Account
