html(dir='ltr', lang='en')
  head
    meta(charset='utf-8')
    title
    link(rel='stylesheet', href='/stylesheets/newRecord.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.1/css/all.css')
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
  body
    .newRecordContainer
      header#patientName
        h2=pname
      .sectionTitle
        .sectionTitlePadding
          h5 Add New Record
      .newRecordDiv
        #formContainer
          form#newRecordform(action='index.html', method='post')
            label.inputLabel(for='recordTitle')  Record Title:
            input#recordTitle.recordInputActive(type='text')
            label.inputLabel(for='hospital') Hospital Name:
            input#hospital.recordInputActive(type='text')
            label.inputLabel(for='typeOfRecord') Record Type:
            select#recordType.recordInputActive
              option(value='HR') HR
              option(value='DN') DN
              option(value='VA') VA
              option(value='LBR') LBR
              option(value='GH') GH
            label.inputLabel(for='doctorName') Doctor's Name:
            input#doctor.recordInputActive(type='text')
            label.inputLabel(for='date') Select a Date:
            input#date.recordInputActive(type='date')
            label.inputLabel(for='time') Select a time:
            input#time.recordInputActive(type='time')
            label.inputLabel(for='recordContent') Record Content:
            textarea#recordContent.recordInputActive(rows='8', cols='80')
            button#addRecordButton.newRecordButton(type='button', onclick='stageRecord()') Add Record
            button#confirmRecordButton.newRecordButton(type='button', onclick='commitRecord()', hidden='') Confirm & Submit
            button#eidtRecordButton.newRecordButton(type='button', onclick='unStageRecord()', hidden='') Edit Record
            button#cancelRecordButton.newRecordButton(type='button', onclick='') Cancel
          #previewPopup(onclick='closePopUp()', hidden='')
            .popUpContent
              p Please review the form
              button#closePopUp.newRecordButton(type='button', onclick='closePopUp()') close
        #pushSucessful
          i.fas.fa-clipboard-check
          label.inputLabel(for='pushSucessful') RECORD SUCCESSFULLY ADDED
          button#anotherRecordButton.newRecordButton(type='button', onclick='location.reload()') Add New Record
          button#returnButton.newRecordButton(type='button', onclick='window.close()') Return
        .pushFailed
    script(src='/js/newRecord.js')
    script(src='/js/main.js')
