extends component/layout

block additionalScripts
    script(src='/js/record.js')
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')

block head
    h3
        i.fas.fa-file-alt
        |   Records

block RightTopToolBarBox
    .mainRightTopToolBarBoxLeftContainer
        .searchBoxContainer
            label.idLabel(for='idSearch')
            b Patient ID:
            br
            input#idSearch(type='text', placeholder=' Search..')
            button#idSearchButton() Search
            label#itemNotFound
                | Patient not found!
        #nameSearch
            ul#nameReturned
        form.filtersContainer
            label.filterText
                | Filter By:
            .checkBoxContainer
                input#filterHospitalRecords.filterCheckBox(type='checkbox', value='HR', hidden='')
                label.filterCheckBoxLabel(for='filterHospitalRecords') Hospital Records
            .checkBoxContainer
                input#filterDoctorsNotes.filterCheckBox(type='checkbox', value='DN', hidden='')
                label.filterCheckBoxLabel(for='filterDoctorsNotes') Doctors Notes
            .checkBoxContainer
                input#filterVaccinations.filterCheckBox(type='checkbox', value='VA', hidden='')
                label.filterCheckBoxLabel(for='filterVaccinations') Vaccinations
            .checkBoxContainer
                input#filterLabReports.filterCheckBox(type='checkbox', value='LBR', hidden='')
                label.filterCheckBoxLabel(for='filterLabReports') Lab Reports
            .checkBoxContainer
                input#filterGeneralHealth.filterCheckBox(type='checkbox', value='GH', hidden='')
                label.filterCheckBoxLabel(for='filterGeneralHealth') General Health
    .mainRightTopToolBarBoxRightContainer

block mainRight
    form#recordList

block mainLeft
