doctype html
html
  head
    include head.jade
    block additionalScripts
  body
    .mainContainer
      .mainLeft
        .mainLeftLogo
          img.logo(src='./images/blackLogoretouched.png', alt='Logo_here')
          .logoName
            h5 aarogya
            h6 EHR for kids | Volunteers

      
        include menu
        include footer.jade

      .mainRight
        .mainRightTop
          .mainRightTopHeader
            block head
          
        .mainRightBodyContainer
            .mainRightBodyContent
                block rightBody