#dayPlan
  p#demo3.calendar-paragraphyear
  p#showMeet
#some_div.appointment-div
#addDiv
  h2.appointment-formh Add Appointment:
  form#setAptStart.appointment-form
    label Select start time:
    select#mySelect
      option(value='00') 00
      option(value='01') 01
      option(value='02') 02
      option(value='03') 03
      option(value='04') 04
      option(value='05') 05
      option(value='06') 06
      option(value='07') 07
      option(value='08') 08
      option(value='09') 09
      option(value='10') 10
      option(value='11') 11
      option(value='12') 12
      option(value='13') 13
      option(value='14') 14
      option(value='15') 15
      option(value='16') 16
      option(value='17') 17
      option(value='18') 18
      option(value='19') 19
      option(value='20') 20
      option(value='21') 21
      option(value='22') 22
      option(value='23') 23
    select#mySelect2
      option(value='00') 00
      option(value='05') 05
      option(value='10') 10
      option(value='15') 15
      option(value='20') 20
      option(value='25') 25
      option(value='30') 30
      option(value='35') 35
      option(value='40') 40
      option(value='45') 45
      option(value='50') 50
      option(value='55') 55
    label Select end time:
    select#mySelect3
      option(value='00') 00
      option(value='01') 01
      option(value='02') 02
      option(value='03') 03
      option(value='04') 04
      option(value='05') 05
      option(value='06') 06
      option(value='07') 07
      option(value='08') 08
      option(value='09') 09
      option(value='10') 10
      option(value='11') 11
      option(value='12') 12
      option(value='13') 13
      option(value='14') 14
      option(value='15') 15
      option(value='16') 16
      option(value='17') 17
      option(value='18') 18
      option(value='19') 19
      option(value='20') 20
      option(value='21') 21
      option(value='22') 22
      option(value='23') 23
    select#mySelect4
      option(value='00') 00
      option(value='05') 05
      option(value='10') 10
      option(value='15') 15
      option(value='20') 20
      option(value='25') 25
      option(value='30') 30
      option(value='35') 35
      option(value='40') 40
      option(value='45') 45
      option(value='50') 50
      option(value='55') 55
    br
    label(for='fname') Child's First name:
    input#fname(type='text', name='fname', value='')
    label(for='lname') Child's Last name:
    input#lname(type='text', name='lname', value='')
    br
    label Type of Appointment:
    select#mySelect5
      option(value='Check Up') Check Up
      option(value='Surgery') Surgery
      option(value='Shots') Shots
    br
    button.appointment-button(id='confirmButton',type='button', onclick='saveMeeting()') Confirm
    button.appointment-button(id='cancelButton',type='button', onclick='cancelMeeting()') Cancel
  p#demo
#editDiv
  h2 Edit Appointment:
  form#setAptStart2
    label Select start time:
    select#mySelect6
      option(value='00') 00
      option(value='01') 01
      option(value='02') 02
      option(value='03') 03
      option(value='04') 04
      option(value='05') 05
      option(value='06') 06
      option(value='07') 07
      option(value='08') 08
      option(value='09') 09
      option(value='10') 10
      option(value='11') 11
      option(value='12') 12
      option(value='13') 13
      option(value='14') 14
      option(value='15') 15
      option(value='16') 16
      option(value='17') 17
      option(value='18') 18
      option(value='19') 19
      option(value='20') 20
      option(value='21') 21
      option(value='22') 22
      option(value='23') 23
    select#mySelect7
      option(value='00') 00
      option(value='05') 05
      option(value='10') 10
      option(value='15') 15
      option(value='20') 20
      option(value='25') 25
      option(value='30') 30
      option(value='35') 35
      option(value='40') 40
      option(value='45') 45
      option(value='50') 50
      option(value='55') 55
  form#setAptEnd2
    label Select end time:
    select#mySelect8
      option(value='00') 00
      option(value='01') 01
      option(value='02') 02
      option(value='03') 03
      option(value='04') 04
      option(value='05') 05
      option(value='06') 06
      option(value='07') 07
      option(value='08') 08
      option(value='09') 09
      option(value='10') 10
      option(value='11') 11
      option(value='12') 12
      option(value='13') 13
      option(value='14') 14
      option(value='15') 15
      option(value='16') 16
      option(value='17') 17
      option(value='18') 18
      option(value='19') 19
      option(value='20') 20
      option(value='21') 21
      option(value='22') 22
      option(value='23') 23
    select#mySelect9
      option(value='00') 00
      option(value='05') 05
      option(value='10') 10
      option(value='15') 15
      option(value='20') 20
      option(value='25') 25
      option(value='30') 30
      option(value='35') 35
      option(value='40') 40
      option(value='45') 45
      option(value='50') 50
      option(value='55') 55
    br
    label(for='fname') Child's First name:
    br
    input#fname(type='text', name='fname', value='')
    br
    label(for='lname') Child's Last name:
    br
    input#lname(type='text', name='lname', value='')
    br
    br
  form#appType2
    label Type of Appointment:
    select#mySelect10
      option(value='Check Up') Check Up
      option(value='Surgery') Surgery
      option(value='Shots') Shots
  button(id='confirmButton',type='button', onclick='saveEditMeeting()') Confirm
  button(id='cancelButton',type='button', onclick='cancelMeeting()') Cancel
script.
  document.getElementById("addDiv").style.visibility = 'hidden';
  document.getElementById("editDiv").style.visibility = 'hidden';
  displayApt();
  //document.getElementById('some_div').innerHTML = '';
  //testing();
  //document.getElementById("setAptStart").style.visibility = 'hidden';
  //document.getElementById("setAptEnd").style.visibility = 'hidden';
  //document.getElementById("appType").style.visibility = 'hidden';
  //document.getElementById("confirmButton").style.visibility = 'hidden';
