title= title
link(rel='stylesheet', href='/stylesheets/style.css')
script(src='/js/main.js')
link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.1/css/all.css')
script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    
