doctype html
html
  head
    include head.jade
    block additionalScripts
  body
    .mainContainer
      .mainLeft
        .mainLeftLogo
          img.logo(src='./images/blackLogoretouched.png', alt='Logo_here')
          .logoName
            h5 aarogya
            h6 EHR for kids | Volunteers

      
        include menu
        include footer.jade

      .mainRight
        .mainRightTop
          .mainRightTopHeader
            block head
          .mainRightTopToolBar
            .mainRightTopToolBarBox
              block RightTopToolBarBox
        .mainRightBody
          .mainRightBodyLeft
            block mainLeft
          .mainRightBodyRight 
            block mainRight
