nav.mainLeftNav
  // label class="logo">EHR4KIDS | Records</label
  ul.mainLeftNavList
    li
      a(href='#')
        i.fas.fa-layer-group
        | Overview
    li
      a(href='/calendar')
        i.fas.fa-clock
        |   Schedule
    li
      a(href='/records')
        i.fas.fa-file-alt
        |  Records
    li
      a(href='/enroll')
        i.fas.fa-user-plus
        | Enroll Patient
    li
      a(href='#')
        i.fas.fa-plus-circle
        |   Access Control
    li
      a(href='#')
        i.fas.fa-user
        |  Profile
    li
      a(href='#')
        i.fas.fa-cog
        |   Settings
    li
      a(onclick='submit("/logout", {}, "get")')
        i.fas.fa-lock
        |  Logout
